user-data/projects/Smart_desk_Simulator/flows.json
[
    {
        "id": "00faea911c2e17d1",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d7a9ea05a589f28e",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "5ed1155aaed18428",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": 8086,
        "protocol": "http",
        "database": "database",
        "name": "Local Influx 2",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://localhost:8086",
        "timeout": 10,
        "rejectUnauthorized": true
    },
    {
        "id": "44cfd562e37fa1a8",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-influxdb": "0.7.0"
        }
    },
    {
        "id": "34345f3168db1b64",
        "type": "mqtt out",
        "z": "00faea911c2e17d1",
        "name": "Smart_Desk_Publisher",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d7a9ea05a589f28e",
        "x": 780,
        "y": 60,
        "wires": []
    },
    {
        "id": "661921696d231a7c",
        "type": "inject",
        "z": "00faea911c2e17d1",
        "name": "Tick-Smart Desk",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "20",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 260,
        "wires": [
            [
                "92d994a8c47c6d3e"
            ]
        ]
    },
    {
        "id": "92d994a8c47c6d3e",
        "type": "function",
        "z": "00faea911c2e17d1",
        "name": "Smart Desk Sensor Simulation",
        "func": "// ===== Smart Desk Enhanced Simulator V2 – With Desk Height Tracking =====\nfunction rand(min, max) { return Math.round(Math.random() * (max - min) + min); }\nfunction rfloat(min, max, d = 1) { return parseFloat((Math.random() * (max - min) + min).toFixed(d)); }\n\nconst REAL_TICK_SEC = 30;\nconst DEMO_MIN_PER_TICK = 3;\nconst TICK_SIM_SEC = DEMO_MIN_PER_TICK * 60;\n\n// Desk height constants\nconst SITTING_HEIGHT_MIN = 72;\nconst SITTING_HEIGHT_MAX = 82;\nconst STANDING_HEIGHT_MIN = 105;\nconst STANDING_HEIGHT_MAX = 115;\nconst STANDING_THRESHOLD = 90;\nconst MIN_STAND_DURATION_SEC = 15 * 60; // 15 minutes in seconds\n\nlet state = flow.get(\"focusState\") || {\n    mode: \"focus\",\n    remainingSec: 25 * 60,\n    sitStreakSec: 0,\n    standCyclesToday: 0,\n    lastResetDate: null,\n    wasStanding: true,\n    standStartTime: null,\n    lastStandingHeight: null\n};\n\n// Reset stand cycles every day\nconst today = new Date().toDateString();\nif (!state.lastResetDate || state.lastResetDate !== today) {\n    state.standCyclesToday = 0;\n    state.lastResetDate = today;\n    node.warn(`🌅 New day started! Stand cycles reset.`);\n}\n\n// Advance Pomodoro-style timer\nstate.remainingSec -= TICK_SIM_SEC;\nif (state.remainingSec <= 0) {\n    if (state.mode === \"focus\") {\n        state.mode = \"break\";\n        state.remainingSec = 5 * 60;\n    } else {\n        state.mode = \"focus\";\n        state.remainingSec = 25 * 60;\n    }\n}\n\n// --- DESK HEIGHT LOGIC (Ground Truth!) ---\n// --- DESK HEIGHT LOGIC (Ground Truth!) ---\nlet deskHeightCm;\nconst sitMinutes = state.sitStreakSec / 60;\n\n// First, determine what the desk height SHOULD be based on sitting time\nif (sitMinutes < 45) {\n    // Phase 1: Normal sitting (before alert)\n    if (state.lastStandingHeight !== null) {\n        // Was standing, but sitting time < 45 means we sat down\n        deskHeightCm = rand(SITTING_HEIGHT_MIN, SITTING_HEIGHT_MAX);\n        state.lastStandingHeight = null; // Clear it since we're sitting\n    } else {\n        deskHeightCm = rand(SITTING_HEIGHT_MIN, SITTING_HEIGHT_MAX);\n    }\n    \n} else if (sitMinutes < 50) {\n    // Phase 2: Alert just triggered, user hasn't responded yet\n    deskHeightCm = rand(SITTING_HEIGHT_MIN, SITTING_HEIGHT_MAX);\n    state.lastStandingHeight = null;\n    \n} else if (sitMinutes < 60) {\n    // Phase 3: Alert active, 30% chance user raises desk\n    if (state.lastStandingHeight !== null) {\n        // Already standing - keep the same height\n        deskHeightCm = state.lastStandingHeight;\n    } else if (Math.random() < 0.3) {\n        // Randomly decide to stand up\n        state.lastStandingHeight = rand(STANDING_HEIGHT_MIN, STANDING_HEIGHT_MAX);\n        deskHeightCm = state.lastStandingHeight;\n    } else {\n        // Still sitting\n        deskHeightCm = rand(SITTING_HEIGHT_MIN, SITTING_HEIGHT_MAX);\n    }\n    \n} else {\n    // Phase 4: Force standing after 60 min\n    if (state.lastStandingHeight === null) {\n        state.lastStandingHeight = rand(STANDING_HEIGHT_MIN, STANDING_HEIGHT_MAX);\n    }\n    deskHeightCm = state.lastStandingHeight;\n}\n\n// NOW derive sitting state FROM desk height (ground truth!)\nlet sitStandState = deskHeightCm > STANDING_THRESHOLD ? 1 : 0;\n\n// --- Presence Logic (sticky while sitting) ---\nlet present;\nif (state.sitStreakSec > 0 && sitStandState === 0) {\n    // Currently sitting - stay present\n    present = true;\n} else {\n    // Not sitting - allow leaving desk\n    present = Math.random() < (state.mode === \"focus\" ? 0.8 : 0.3);\n}\n\n// --- NEW: Auto-reset sit streak after 15 minutes of standing ---\nif (state.standStartTime !== null && sitStandState === 1) {\n    const standDurationSec = Date.now()/1000 - state.standStartTime;\n    \n    if (standDurationSec >= MIN_STAND_DURATION_SEC && state.sitStreakSec > 0) {\n        // User has been standing for 15+ minutes - auto-reset sit streak\n        node.warn(`✅ Stand duration reached ${(standDurationSec/60).toFixed(1)} min - Sit streak RESET!`);\n        state.sitStreakSec = 0;\n    }\n}\n\n// --- Enhanced Sitting Streak Logic with 15-min Stand Requirement ---\nif (present && sitStandState === 0) {\n    // User is sitting\n    \n    // Check if they were just standing\n    if (state.wasStanding && state.standStartTime !== null) {\n        // They just sat down after standing\n        const standDurationSec = Date.now()/1000 - state.standStartTime;\n        \n        if (standDurationSec >= MIN_STAND_DURATION_SEC) {\n            // User stood long enough - RESET sit streak\n            state.sitStreakSec = TICK_SIM_SEC;\n            node.warn(`🪑 Sitting... Streak RESET ✅ (stood for ${(standDurationSec/60).toFixed(1)} min) (Desk: ${deskHeightCm} cm)`);\n        } else {\n            // User didn't stand long enough - CONTINUE sit streak\n            state.sitStreakSec += TICK_SIM_SEC;\n            node.warn(`🪑 Sitting again... Streak CONTINUES ⚠️ at ${Math.round(state.sitStreakSec / 60)} min (only stood ${(standDurationSec/60).toFixed(1)} min) (Desk: ${deskHeightCm} cm)`);\n        }\n        state.standStartTime = null; // Clear stand timer\n        state.lastStandingHeight = null; // Clear standing height\n    } else {\n        // Continue sitting\n        state.sitStreakSec += TICK_SIM_SEC;\n        node.warn(`🪑 Sitting... Streak: ${Math.round(state.sitStreakSec / 60)} min (Desk: ${deskHeightCm} cm)`);\n    }\n    \n    state.wasStanding = false;\n    \n} else if (state.sitStreakSec > 0 && !state.wasStanding && sitStandState === 1) {\n    // User just stood up (transition from sitting to standing)\n    state.standStartTime = Date.now() / 1000; // Record when they started standing\n    state.standCyclesToday += 1;\n    state.wasStanding = true;\n    state.lastStandingHeight = deskHeightCm; // Lock in this standing height\n    node.warn(`⬆️ User stood up! Stand cycles: ${state.standCyclesToday} (Desk: ${deskHeightCm} cm) - Timer started!`);\n    \n} else if (state.sitStreakSec > 0 && sitStandState === 1) {\n    // Still standing - keep the timer running\n    state.wasStanding = true;\n}\n\n// Emit alert when sitting too long (FIX: only when actually sitting!)\nif (state.sitStreakSec >= 45 * 60 && sitStandState === 0 && state.sitStreakSec % (10 * 60) < TICK_SIM_SEC) {\n    node.warn(`🚨 LONG SIT ALERT! sitStreakMin = ${Math.round(state.sitStreakSec / 60)}, deskHeight = ${deskHeightCm} cm`);\n}\n\n// --- Core sensor readings ---\nconst temperatureC = rfloat(22, 26, 1);\nconst lightLux = rand(150, 600);\nconst humidityPct = rand(35, 60);\nconst noiseDb = rand(42, 74);\nconst co2ppm = rand(500, 1400);\nconst lampOn = present && lightLux < 300;\nconst lampPowerW = lampOn ? (lightLux < 220 ? 9 : 6) : 0;\nconst focusScore = present ? (state.mode === \"focus\" ? rand(60, 95) : rand(30, 70)) : 0;\nconst keyRatePerMin = present ? (state.mode === \"focus\" ? rand(80, 220) : rand(10, 120)) : 0;\nconst screenOn = present ? 1 : 0;\n\n// Posture (better when standing)\nconst postureAngleDeg = present ? (sitStandState === 0 ? rand(5, 35) : rand(0, 15)) : 0;\nconst postureGood = present ? (postureAngleDeg < 25) : 1;\n\nconst microbreakDue = (state.mode === \"focus\" && (state.remainingSec % (10 * 60) < TICK_SIM_SEC)) ? 1 : 0;\n\n// --- Build payload ---\nconst payload = {\n    deskId: \"desk01\",\n    userId: \"user01\",\n    appFocus: [\"IDE\", \"Browser\", \"Mail\", \"Other\"][rand(0, 3)],\n    present: present,\n    sitStandState: sitStandState,\n    sitStreakMin: Math.round(state.sitStreakSec / 60),\n    standCyclesToday: state.standCyclesToday,\n    deskHeightCm,\n    temperatureC,\n    lightLux,\n    humidityPct,\n    noiseDb,\n    co2ppm,\n    lampOn,\n    lampPowerW,\n    screenOn,\n    focusScore,\n    keyRatePerMin,\n    postureAngleDeg,\n    postureGood,\n    microbreakDue,\n    focusTimerMin: Math.max(0, Math.round(state.remainingSec / 60)),\n    mode: state.mode,\n    ts: new Date().toISOString()\n};\n\nflow.set(\"focusState\", state);\n\nmsg.topic = \"desk/desk01/telemetry\";\nmsg.payload = JSON.stringify(payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 140,
        "wires": [
            [
                "34345f3168db1b64"
            ]
        ]
    },
    {
        "id": "afd6ced74296e452",
        "type": "mqtt in",
        "z": "00faea911c2e17d1",
        "name": "Smart Desk Telemetry IN",
        "topic": "desk/desk01/telemetry",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "d7a9ea05a589f28e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 360,
        "wires": [
            [
                "a17d74df0fecba88"
            ]
        ]
    },
    {
        "id": "a17d74df0fecba88",
        "type": "json",
        "z": "00faea911c2e17d1",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 410,
        "y": 360,
        "wires": [
            [
                "8c58fa0660fa325d",
                "afdbd8acdcf68747",
                "2298db7fbec8d873"
            ]
        ]
    },
    {
        "id": "5a872dc6776bb546",
        "type": "influxdb out",
        "z": "00faea911c2e17d1",
        "influxdb": "5ed1155aaed18428",
        "name": "Seating Sensor Details",
        "measurement": "desk_seating",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "iot-org",
        "bucket": "smartDeskDatabase",
        "x": 1020,
        "y": 220,
        "wires": []
    },
    {
        "id": "8c58fa0660fa325d",
        "type": "function",
        "z": "00faea911c2e17d1",
        "name": "Capture Seating Sensor details",
        "func": "let p = msg.payload;\nif (typeof p === \"string\") {\n    try { p = JSON.parse(p); }\n    catch (e) { node.warn(\"Bad JSON in seating details: \" + e.message); return null; }\n}\nif (!p || !p.deskId || !p.userId) return null;\n\nconst presentVal = p.present ? 1 : 0;\n\nmsg.measurement = \"desk_seating\";\nmsg.tags = {\n    deskId: p.deskId,\n    userId: p.userId,\n    mode: p.mode || \"unknown\"\n};\n\n// *** Now build the InfluxDB payload ***\nmsg.payload = {\n    present: presentVal,\n    sitStandState: Number(p.sitStandState) || 0,   // 0=sit, 1=stand\n    sitStreakMin: Number(p.sitStreakMin) || 0,\n    standCyclesToday: Number(p.standCyclesToday) || 0,\n    deskHeightCm: Number(p.deskHeightCm) || 0,\n    postureAngleDeg: Number(p.postureAngleDeg) || 0,\n    postureGood: p.postureGood ? 1 : 0,\n};\n\nmsg.timestamp = p.ts ? new Date(p.ts) : new Date();\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "\n",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 260,
        "wires": [
            [
                "5a872dc6776bb546",
                "b1e7acccda9a6270"
            ]
        ]
    },
    {
        "id": "afdbd8acdcf68747",
        "type": "function",
        "z": "00faea911c2e17d1",
        "name": "Capture Environment Sensor Details",
        "func": "let p = msg.payload;\nif (typeof p === \"string\") {\n    try { p = JSON.parse(p); }\n    catch (e) { node.warn(\"Bad JSON in environment details: \" + e.message); return null; }\n}\nif (!p || !p.deskId || !p.userId) return null;\n\n// Basic values\nconst presentVal = p.present ? 1 : 0;\nconst lampVal = p.lampOn ? 1 : 0;\nconst mode = p.mode || \"focus\";\nconst TICK_SEC = 30;\n\n// Rolling timers from flow context\nlet highCo2Sec = flow.get(\"highCo2Sec\") || 0;\nlet lowLightSec = flow.get(\"lowLightSec\") || 0;\nlet postureBadSec = flow.get(\"postureBadSec\") || 0;\n\n// Thresholds (seconds)\nconst HIGH_CO2_THRESHOLD_SEC = 15 * 60;\nconst LOW_LIGHT_THRESHOLD_SEC = 5 * 60;\nconst BAD_POSTURE_THRESHOLD_SEC = 20 * 60;\n\n// Accumulate CO2 exposure\nif (Number(p.co2ppm) > 1000) {\n    highCo2Sec += TICK_SEC;\n} else {\n    highCo2Sec = 0;\n}\n\n// Accumulate low light while present and lamp off\nconst LOW_LIGHT_CRITERIA = presentVal && !lampVal && (Number(p.lightLux) < 250);\nif (LOW_LIGHT_CRITERIA) {\n    lowLightSec += TICK_SEC;\n} else {\n    lowLightSec = 0;\n}\n\n// Accumulate bad posture while present and postureGood=0\nconst POSTURE_CRITERIA = presentVal && !p.postureGood;\nif (POSTURE_CRITERIA) {\n    postureBadSec += TICK_SEC;\n} else {\n    postureBadSec = 0;\n}\n\n// Derive warnings\nconst dimLightWarning = (lowLightSec >= LOW_LIGHT_THRESHOLD_SEC) ? 1 : 0;\nconst highCo2Warning = (highCo2Sec >= HIGH_CO2_THRESHOLD_SEC) ? 1 : 0;\nconst badPostureWarning = (postureBadSec >= BAD_POSTURE_THRESHOLD_SEC) ? 1 : 0;\n\n// Build friendly messages for dashboard\nlet messages = [];\nif (dimLightWarning) messages.push(\"Lighting is low — turn on lamp or open blinds.\");\nif (highCo2Warning) messages.push(\"CO₂ is high — open a window or take a fresh air break.\");\nif (badPostureWarning) messages.push(\"Posture is poor — adjust chair/desk or stand up.\");\n\nif (!messages.length) {\n    if (presentVal) {\n        messages.push(`All good — environment and posture look fine in ${mode} mode.`);  // *** FIXED: backticks, not parenthesis ***\n    } else {\n        messages.push(\"Desk is idle — no user present.\");\n    }\n}\n\n// Save state back to flow\nflow.set(\"highCo2Sec\", highCo2Sec);\nflow.set(\"lowLightSec\", lowLightSec);\nflow.set(\"postureBadSec\", postureBadSec);\n\n// Map to Influx measurement\nmsg.measurement = \"desk_environment\";\nmsg.tags = {\n    deskId: p.deskId,\n    userId: p.userId,\n    mode: mode\n};\n\nmsg.payload = {\n    // Raw environment values\n    temperatureC: Number(p.temperatureC) || 0,\n    humidityPct: Number(p.humidityPct) || 0,\n    co2ppm: Number(p.co2ppm) || 0,\n    noiseDb: Number(p.noiseDb) || 0,\n    lightLux: Number(p.lightLux) || 0,\n    lampOn: lampVal,\n    lampPowerW: Number(p.lampPowerW) || 0,\n\n    // Rolling exposure timers\n    highCo2Sec,\n    lowLightSec,\n    postureBadSec,\n\n    // Warnings + narrative\n    dimLightWarning,\n    highCo2Warning,\n    badPostureWarning,\n    environmentNotifyText: messages.join(\" | \")\n};\n\nmsg.timestamp = p.ts ? new Date(p.ts) : new Date();\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 380,
        "wires": [
            [
                "9b8a56e37aaff542",
                "de0606e435137763"
            ]
        ]
    },
    {
        "id": "2298db7fbec8d873",
        "type": "function",
        "z": "00faea911c2e17d1",
        "name": "Build Desk Status Sensor",
        "func": "let p = msg.payload;\nif (typeof p === \"string\") {\n    try { p = JSON.parse(p); }\n    catch (e) { node.warn(\"Bad JSON in status details: \" + e.message); return null; }\n}\nif (!p || !p.deskId || !p.userId) return null;\n\nconst TICK_SEC = 30;\nconst presentVal = p.present ? 1 : 0;\nconst mode = p.mode || \"focus\";\n\n// --- DESK HEIGHT INTELLIGENCE ---\nconst STANDING_THRESHOLD = 90;  // cm\nconst RECOMMENDED_STANDING_HEIGHT = 110;  // cm\n\n// Determine if user is ACTUALLY sitting based on desk height\nconst isSitting = Number(p.deskHeightCm) < STANDING_THRESHOLD;\nconst sitDuration = Number(p.sitStreakMin);\n\n// ---- Rolling focus timer (low focus) ----\nlet lowFocusSec = flow.get(\"lowFocusSec\") || 0;\nif (presentVal && Number(p.focusScore) < 50) {\n    lowFocusSec += TICK_SEC;\n} else {\n    lowFocusSec = 0;\n}\n\n// Thresholds\nconst LONG_SIT_THRESHOLD_MIN = 45;\nconst LOW_FOCUS_THRESHOLD_SEC = 10 * 60;\nconst HIGH_CO2_THRESHOLD_SEC = 15 * 60;\nconst LOW_LIGHT_THRESHOLD_SEC = 5 * 60;\n\n// Warnings (ergonomics & focus)\n// CRITICAL: Only warn if ACTUALLY sitting (desk height < 90cm)\nconst longSitWarning = (sitDuration >= LONG_SIT_THRESHOLD_MIN && isSitting) ? 1 : 0;\nconst lowFocusWarning = (lowFocusSec >= LOW_FOCUS_THRESHOLD_SEC) ? 1 : 0;\nconst postureWarning = (presentVal && !p.postureGood && isSitting) ? 1 : 0;\n\n// Retrieve env warnings from flow context\nlet highCo2Sec = flow.get(\"highCo2Sec\") || 0;\nlet lowLightSec = flow.get(\"lowLightSec\") || 0;\nlet postureBadSec = flow.get(\"postureBadSec\") || 0;\n\nconst dimLightWarning = (lowLightSec >= LOW_LIGHT_THRESHOLD_SEC) ? 1 : 0;\nconst highCo2Warning = (highCo2Sec >= HIGH_CO2_THRESHOLD_SEC) ? 1 : 0;\n\n// Save focus timer state\nflow.set(\"lowFocusSec\", lowFocusSec);\n\n// --- SMART DESK HEIGHT RECOMMENDATIONS ---\nlet deskHeightRecommendation = \"\";\nlet deskPositionStatus = \"\";\n\nif (isSitting && sitDuration >= LONG_SIT_THRESHOLD_MIN) {\n    // Alert: User should stand\n    deskHeightRecommendation = `⬆️ RAISE DESK to ${RECOMMENDED_STANDING_HEIGHT} cm and stand!`;\n    deskPositionStatus = \"🔴 Alert: Too long sitting\";\n    \n} else if (isSitting && sitDuration >= 30) {\n    // Warning: Approaching threshold\n    deskHeightRecommendation = `⚠️ Consider standing soon (desk at ${p.deskHeightCm} cm)`;\n    deskPositionStatus = \"🟡 Warning: Approaching limit\";\n    \n} else if (!isSitting) {\n    // Standing: Positive feedback\n    deskHeightRecommendation = `👏 Great! Standing at ${p.deskHeightCm} cm`;\n    deskPositionStatus = \"✅ Standing - Healthy\";\n    \n} else {\n    // Normal sitting: Comfortable\n    deskHeightRecommendation = `✅ Sitting comfortably at ${p.deskHeightCm} cm`;\n    deskPositionStatus = \"✅ Sitting - Normal\";\n}\n\n// Build one combined assistant message\nlet messages = [];\n\n// Ergonomic warnings (with desk height context)\nif (longSitWarning) {\n    messages.push(`🚨 Sitting for ${sitDuration} min! ${deskHeightRecommendation}`);\n}\n\nif (postureWarning && isSitting) {\n    messages.push(`⚠️ Poor posture at ${p.deskHeightCm} cm — adjust chair or stand.`);\n}\n\nif (lowFocusWarning) {\n    messages.push(\"🎯 Focus low for 10+ min — try a quick reset or walk.\");\n}\n\n// Environment warnings\nif (dimLightWarning) {\n    messages.push(\"💡 Lighting low — increase ambient light to reduce eye strain.\");\n}\n\nif (highCo2Warning) {\n    messages.push(\"🫁 CO₂ high — get fresh air or increase ventilation.\");\n}\n\n// Default message\nif (!messages.length) {\n    if (presentVal) {\n        if (isSitting) {\n            messages.push(`All good — sitting at ${p.deskHeightCm} cm. Environment balanced.`);\n        } else {\n            messages.push(`Excellent! Standing at ${p.deskHeightCm} cm. Keep it up!`);\n        }\n    } else {\n        messages.push(\"Desk is idle — no recommendations at this time.\");\n    }\n}\n\nmsg.measurement = \"desk_status\";\nmsg.tags = {\n    deskId: p.deskId,\n    userId: p.userId,\n    mode: mode\n};\n\nmsg.payload = {\n    present: presentVal,\n    mode,\n    focusScore: Number(p.focusScore) || 0,\n    sitStreakMin: sitDuration,\n    postureGood: p.postureGood ? 1 : 0,\n\n    // Derived timers\n    lowFocusSec,\n    highCo2Sec,\n    lowLightSec,\n    postureBadSec,\n\n    // Warnings\n    longSitWarning,\n    lowFocusWarning,\n    postureWarning,\n    dimLightWarning,\n    highCo2Warning,\n\n    // NEW: Desk height intelligence\n    isSitting: isSitting ? 1 : 0,\n    deskHeightCm: Number(p.deskHeightCm),\n    deskPositionStatus: deskPositionStatus,\n    deskHeightRecommendation: deskHeightRecommendation,\n\n    // Narrative\n    smartDeskAssistant: messages.join(\" | \")\n};\n\nif (longSitWarning) {\n    node.warn(`🚨 LONG SIT ALERT! sitStreakMin = ${sitDuration}, deskHeight = ${p.deskHeightCm} cm`);\n}\n\nmsg.timestamp = p.ts ? new Date(p.ts) : new Date();\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 520,
        "wires": [
            [
                "da46810f98515547",
                "ddd6db1389b43535"
            ]
        ]
    },
    {
        "id": "9b8a56e37aaff542",
        "type": "influxdb out",
        "z": "00faea911c2e17d1",
        "influxdb": "5ed1155aaed18428",
        "name": "Environment & Light Sensor Details",
        "measurement": "desk_environment",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "iot-org",
        "bucket": "smartDeskDatabase",
        "x": 1060,
        "y": 360,
        "wires": []
    },
    {
        "id": "da46810f98515547",
        "type": "influxdb out",
        "z": "00faea911c2e17d1",
        "influxdb": "5ed1155aaed18428",
        "name": "Desk Status Sensor Details",
        "measurement": "desk_status",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "iot-org",
        "bucket": "smartDeskDatabase",
        "x": 1000,
        "y": 480,
        "wires": []
    },
    {
        "id": "ddd6db1389b43535",
        "type": "debug",
        "z": "00faea911c2e17d1",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 560,
        "wires": []
    },
    {
        "id": "de0606e435137763",
        "type": "debug",
        "z": "00faea911c2e17d1",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 420,
        "wires": []
    },
    {
        "id": "b1e7acccda9a6270",
        "type": "debug",
        "z": "00faea911c2e17d1",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 300,
        "wires": []
    }
]