user-data/projects/Smart_desk_Simulator/flows.json
[
    {
        "id": "00faea911c2e17d1",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d7a9ea05a589f28e",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "5ed1155aaed18428",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": 8086,
        "protocol": "http",
        "database": "database",
        "name": "Local Influx 2",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://localhost:8086",
        "timeout": 10,
        "rejectUnauthorized": true
    },
    {
        "id": "44cfd562e37fa1a8",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-influxdb": "0.7.0"
        }
    },
    {
        "id": "34345f3168db1b64",
        "type": "mqtt out",
        "z": "00faea911c2e17d1",
        "name": "Smart_Desk_Publisher",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d7a9ea05a589f28e",
        "x": 1000,
        "y": 120,
        "wires": []
    },
    {
        "id": "661921696d231a7c",
        "type": "inject",
        "z": "00faea911c2e17d1",
        "name": "Tick-Smart Desk",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "30",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 240,
        "wires": [
            [
                "92d994a8c47c6d3e"
            ]
        ]
    },
    {
        "id": "92d994a8c47c6d3e",
        "type": "function",
        "z": "00faea911c2e17d1",
        "name": "Smart Desk Sensor Simulation",
        "func": "// ===== UNIFIED Smart Desk Simulator - ALL DATA IN ONE PAYLOAD =====\nfunction rand(min, max) { return Math.round(Math.random() * (max - min) + min); }\nfunction rfloat(min, max, d = 1) { return parseFloat((Math.random() * (max - min) + min).toFixed(d)); }\n\nconst REAL_TICK_SEC = 30;\nconst DEMO_MIN_PER_TICK = 3;\nconst TICK_SIM_SEC = DEMO_MIN_PER_TICK * 60;\n\n// Desk height constants\nconst SITTING_HEIGHT_MIN = 72;\nconst SITTING_HEIGHT_MAX = 82;\nconst STANDING_HEIGHT_MIN = 105;\nconst STANDING_HEIGHT_MAX = 115;\nconst STANDING_THRESHOLD = 90;\nconst MIN_STAND_DURATION_SEC = 15 * 60;\n\n// Get simulation state\nlet state = flow.get(\"focusState\") || {\n    mode: \"focus\",\n    remainingSec: 25 * 60,\n    sitStreakSec: 0,\n    standCyclesToday: 0,\n    lastResetDate: null,\n    wasStanding: true,\n    standStartTime: null,\n    lastStandingHeight: null,\n    alertTriggered: false\n};\n\n// Get warning timers\nlet lowFocusSec = flow.get(\"lowFocusSec\") || 0;\nlet highCo2Sec = flow.get(\"highCo2Sec\") || 0;\nlet lowLightSec = flow.get(\"lowLightSec\") || 0;\n\n// Reset stand cycles every day\nconst today = new Date().toDateString();\nif (!state.lastResetDate || state.lastResetDate !== today) {\n    state.standCyclesToday = 0;\n    state.lastResetDate = today;\n    node.warn(`🌅 New day started! Stand cycles reset.`);\n}\n\n// Advance Pomodoro timer\nstate.remainingSec -= TICK_SIM_SEC;\nif (state.remainingSec <= 0) {\n    if (state.mode === \"focus\") {\n        state.mode = \"break\";\n        state.remainingSec = 5 * 60;\n    } else {\n        state.mode = \"focus\";\n        state.remainingSec = 25 * 60;\n    }\n}\n\n// --- DESK HEIGHT LOGIC ---\nlet deskHeightCm;\nconst sitMinutes = state.sitStreakSec / 60;\n\nif (sitMinutes < 45) {\n    deskHeightCm = rand(SITTING_HEIGHT_MIN, SITTING_HEIGHT_MAX);\n    state.lastStandingHeight = null;\n    state.alertTriggered = false;\n} else if (sitMinutes >= 45 && sitMinutes < 48) {\n    deskHeightCm = rand(SITTING_HEIGHT_MIN, SITTING_HEIGHT_MAX);\n    state.lastStandingHeight = null;\n    if (!state.alertTriggered) {\n        node.warn(`🚨 ALERT TRIGGERED! User has been sitting for ${Math.round(sitMinutes)} minutes!`);\n        state.alertTriggered = true;\n    }\n} else if (sitMinutes >= 48) {\n    if (state.lastStandingHeight === null) {\n        state.lastStandingHeight = rand(STANDING_HEIGHT_MIN, STANDING_HEIGHT_MAX);\n        node.warn(`📈 User responding to alert - RAISING DESK to ${state.lastStandingHeight} cm`);\n    }\n    deskHeightCm = state.lastStandingHeight;\n}\n\nlet sitStandState = deskHeightCm > STANDING_THRESHOLD ? 1 : 0;\n\n// --- Presence Logic ---\nlet present;\nif (state.sitStreakSec > 0 && sitStandState === 0) {\n    present = true;\n} else {\n    present = Math.random() < (state.mode === \"focus\" ? 0.8 : 0.3);\n}\n\n// --- Auto-reset sit streak after 15 minutes of standing ---\nif (state.standStartTime !== null && sitStandState === 1) {\n    const standDurationSec = Date.now() / 1000 - state.standStartTime;\n    if (standDurationSec >= MIN_STAND_DURATION_SEC && state.sitStreakSec > 0) {\n        node.warn(`✅ Stand duration reached ${(standDurationSec / 60).toFixed(1)} min - Sit streak RESET!`);\n        state.sitStreakSec = 0;\n        state.alertTriggered = false;\n    }\n}\n\n// --- Sitting Streak Logic ---\nif (present && sitStandState === 0) {\n    if (state.wasStanding && state.standStartTime !== null) {\n        const standDurationSec = Date.now() / 1000 - state.standStartTime;\n        if (standDurationSec >= MIN_STAND_DURATION_SEC) {\n            state.sitStreakSec = TICK_SIM_SEC;\n            state.alertTriggered = false;\n            node.warn(`🪑 Sitting... Streak RESET ✅ (stood for ${(standDurationSec / 60).toFixed(1)} min) (Desk: ${deskHeightCm} cm)`);\n        } else {\n            state.sitStreakSec += TICK_SIM_SEC;\n            node.warn(`🪑 Sitting again... Streak CONTINUES ⚠️ at ${Math.round(state.sitStreakSec / 60)} min (only stood ${(standDurationSec / 60).toFixed(1)} min) (Desk: ${deskHeightCm} cm)`);\n        }\n        state.standStartTime = null;\n        state.lastStandingHeight = null;\n    } else {\n        state.sitStreakSec += TICK_SIM_SEC;\n        node.warn(`🪑 Sitting... Streak: ${Math.round(state.sitStreakSec / 60)} min (Desk: ${deskHeightCm} cm)`);\n    }\n    state.wasStanding = false;\n} else if (state.sitStreakSec > 0 && !state.wasStanding && sitStandState === 1) {\n    state.standStartTime = Date.now() / 1000;\n    state.standCyclesToday += 1;\n    state.wasStanding = true;\n    state.lastStandingHeight = deskHeightCm;\n    node.warn(`⬆️ User stood up! Stand cycles: ${state.standCyclesToday} (Desk: ${deskHeightCm} cm) - Timer started!`);\n} else if (state.sitStreakSec > 0 && sitStandState === 1) {\n    state.wasStanding = true;\n}\n\n// --- Generate Sensor Data ---\nconst temperatureC = rfloat(22, 26, 1);\nconst lightLux = rand(150, 600);\nconst humidityPct = rand(35, 60);\nconst noiseDb = rand(42, 74);\nconst co2ppm = rand(500, 1400);\nconst focusScore = present ? (state.mode === \"focus\" ? rand(60, 95) : rand(30, 70)) : 0;\nconst keyRatePerMin = present ? (state.mode === \"focus\" ? rand(80, 220) : rand(10, 120)) : 0;\nconst screenOn = present ? 1 : 0;\nconst microbreakDue = (state.mode === \"focus\" && (state.remainingSec % (10 * 60) < TICK_SIM_SEC)) ? 1 : 0;\n\n// --- ENVIRONMENT PROCESSING ---\n// CO2 tracking\nif (co2ppm > 1000) {\n    highCo2Sec += TICK_SIM_SEC;\n} else {\n    highCo2Sec = 0;\n}\n\n// Light tracking\nif (present && lightLux < 250) {\n    lowLightSec += TICK_SIM_SEC;\n} else {\n    lowLightSec = 0;\n}\n\n// Focus tracking\nif (present && focusScore < 50) {\n    lowFocusSec += TICK_SIM_SEC;\n} else {\n    lowFocusSec = 0;\n}\n\n// --- WARNING THRESHOLDS ---\nconst LONG_SIT_THRESHOLD_MIN = 45;\nconst LOW_FOCUS_THRESHOLD_SEC = 10 * 60;\nconst HIGH_CO2_THRESHOLD_SEC = 15 * 60;\nconst LOW_LIGHT_THRESHOLD_SEC = 5 * 60;\n\nconst isSitting = deskHeightCm < STANDING_THRESHOLD;\nconst sitDuration = Math.round(state.sitStreakSec / 60);\n\nconst longSitWarning = (sitDuration >= LONG_SIT_THRESHOLD_MIN && isSitting) ? 1 : 0;\nconst lowFocusWarning = (lowFocusSec >= LOW_FOCUS_THRESHOLD_SEC) ? 1 : 0;\nconst dimLightWarning = (lowLightSec >= LOW_LIGHT_THRESHOLD_SEC) ? 1 : 0;\nconst highCo2Warning = (highCo2Sec >= HIGH_CO2_THRESHOLD_SEC) ? 1 : 0;\n\n// --- DESK HEIGHT RECOMMENDATIONS ---\nconst RECOMMENDED_STANDING_HEIGHT = 110;\nlet deskHeightRecommendation = \"\";\nlet deskPositionStatus = \"\";\n\nif (isSitting && sitDuration >= LONG_SIT_THRESHOLD_MIN) {\n    deskHeightRecommendation = `⬆️ RAISE DESK to ${RECOMMENDED_STANDING_HEIGHT} cm and stand!`;\n    deskPositionStatus = \"🔴 Alert: Too long sitting\";\n} else if (isSitting && sitDuration >= 30) {\n    deskHeightRecommendation = `⚠️ Consider standing soon (desk at ${deskHeightCm} cm)`;\n    deskPositionStatus = \"🟡 Warning: Approaching limit\";\n} else if (!isSitting) {\n    deskHeightRecommendation = `👏 Great! Standing at ${deskHeightCm} cm`;\n    deskPositionStatus = \"✅ Standing - Healthy\";\n} else {\n    deskHeightRecommendation = `✅ Sitting comfortably at ${deskHeightCm} cm`;\n    deskPositionStatus = \"✅ Sitting - Normal\";\n}\n\n// --- BUILD MESSAGES ---\nlet messages = [];\nif (longSitWarning) messages.push(`🚨 Sitting for ${sitDuration} min! ${deskHeightRecommendation}`);\nif (lowFocusWarning) messages.push(\"🎯 Focus low for 10+ min — try a quick reset or walk.\");\nif (dimLightWarning) messages.push(\"💡 Lighting low — increase ambient light to reduce eye strain.\");\nif (highCo2Warning) messages.push(\"🫁 CO₂ high — get fresh air or increase ventilation.\");\n\nif (!messages.length) {\n    if (present) {\n        if (isSitting) {\n            messages.push(`All good — sitting at ${deskHeightCm} cm. Environment balanced.`);\n        } else {\n            messages.push(`Excellent! Standing at ${deskHeightCm} cm. Keep it up!`);\n        }\n    } else {\n        messages.push(\"Desk is idle — no recommendations at this time.\");\n    }\n}\n\n// --- SAVE STATE ---\nflow.set(\"focusState\", state);\nflow.set(\"lowFocusSec\", lowFocusSec);\nflow.set(\"highCo2Sec\", highCo2Sec);\nflow.set(\"lowLightSec\", lowLightSec);\n\n// --- BUILD ONE COMPLETE UNIFIED PAYLOAD ---\nconst timestamp = new Date().toISOString();\n\nconst unifiedPayload = {\n    // === METADATA ===\n    deskId: \"desk01\",\n    userId: \"user01\",\n    timestamp: timestamp,\n    mode: state.mode,\n\n    // === SEATING DATA ===\n    seating: {\n        present: present ? 1 : 0,\n        sitStandState: sitStandState,\n        sitStreakMin: sitDuration,\n        standCyclesToday: state.standCyclesToday,\n        deskHeightCm: deskHeightCm,\n        isSitting: isSitting ? 1 : 0,\n        deskPositionStatus: deskPositionStatus,\n        deskHeightRecommendation: deskHeightRecommendation\n    },\n\n    // === ENVIRONMENT DATA ===\n    environment: {\n        temperatureC: temperatureC,\n        humidityPct: humidityPct,\n        co2ppm: co2ppm,\n        noiseDb: noiseDb,\n        lightLux: lightLux,\n        highCo2Sec: highCo2Sec,\n        lowLightSec: lowLightSec\n    },\n\n    // === PRODUCTIVITY DATA ===\n    productivity: {\n        appFocus: [\"IDE\", \"Browser\", \"Mail\", \"Other\"][rand(0, 3)],\n        screenOn: screenOn,\n        focusScore: focusScore,\n        keyRatePerMin: keyRatePerMin,\n        microbreakDue: microbreakDue,\n        focusTimerMin: Math.max(0, Math.round(state.remainingSec / 60)),\n        lowFocusSec: lowFocusSec\n    },\n\n    // === WARNINGS & RECOMMENDATIONS ===\n    alerts: {\n        longSitWarning: longSitWarning,\n        lowFocusWarning: lowFocusWarning,\n        dimLightWarning: dimLightWarning,\n        highCo2Warning: highCo2Warning,\n        smartDeskAssistant: messages.join(\" | \")\n    }\n};\n\n// For InfluxDB - you can keep this structure or flatten it\nmsg.topic = \"desk/desk01/telemetry\";\nmsg.payload = JSON.stringify(unifiedPayload);\n\n// Calculate payload size\nconst sizeBytes = Buffer.byteLength(msg.payload, 'utf8');\nnode.warn(`📦 Unified Payload Size: ${sizeBytes} bytes (${(sizeBytes / 1024).toFixed(2)} KB)`);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 120,
        "wires": [
            [
                "5f5dc9dd242b1b17",
                "3d1e7d7bc10a0588"
            ]
        ]
    },
    {
        "id": "afd6ced74296e452",
        "type": "mqtt in",
        "z": "00faea911c2e17d1",
        "name": "Smart Desk Telemetry IN",
        "topic": "desk/desk01/telemetry",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "d7a9ea05a589f28e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 400,
        "wires": [
            [
                "a17d74df0fecba88"
            ]
        ]
    },
    {
        "id": "a17d74df0fecba88",
        "type": "json",
        "z": "00faea911c2e17d1",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 410,
        "y": 400,
        "wires": [
            [
                "8c58fa0660fa325d",
                "afdbd8acdcf68747",
                "2298db7fbec8d873"
            ]
        ]
    },
    {
        "id": "5a872dc6776bb546",
        "type": "influxdb out",
        "z": "00faea911c2e17d1",
        "influxdb": "5ed1155aaed18428",
        "name": "Seating Sensor Details",
        "measurement": "desk_seating",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "iot-org",
        "bucket": "smartDeskDatabase",
        "x": 1020,
        "y": 300,
        "wires": []
    },
    {
        "id": "8c58fa0660fa325d",
        "type": "function",
        "z": "00faea911c2e17d1",
        "name": "Capture Seating Sensor details",
        "func": "// Extract Seating Data from Unified Payload\nlet p = msg.payload;\nif (typeof p === \"string\") {\n    try { p = JSON.parse(p); }\n    catch (e) { node.warn(\"Parse error: \" + e.message); return null; }\n}\n\nif (!p || !p.deskId) return null;\n\nmsg.measurement = \"desk_seating\";\nmsg.tags = {\n    deskId: p.deskId,\n    userId: p.userId,\n    mode: p.mode\n};\n\nmsg.payload = {\n    // Existing fields - PRESERVED\n    present: p.seating.present,\n    sitStandState: p.seating.sitStandState,\n    sitStreakMin: p.seating.sitStreakMin,\n    standCyclesToday: p.seating.standCyclesToday,\n    deskHeightCm: p.seating.deskHeightCm,\n    postureAngleDeg: 0,  // Compatibility field (not simulated yet)\n    postureGood: 0,      // Compatibility field (not simulated yet)\n\n    // New fields - ADDITIONS\n    isSitting: p.seating.isSitting,\n    deskPositionStatus: p.seating.deskPositionStatus,\n    deskHeightRecommendation: p.seating.deskHeightRecommendation\n};\n\nmsg.timestamp = new Date(p.timestamp);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "\n",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 260,
        "wires": [
            [
                "5a872dc6776bb546"
            ]
        ]
    },
    {
        "id": "afdbd8acdcf68747",
        "type": "function",
        "z": "00faea911c2e17d1",
        "name": "Capture Environment Sensor Details",
        "func": "// Extract Environment Data from Unified Payload\nlet p = msg.payload;\nif (typeof p === \"string\") {\n    try { p = JSON.parse(p); }\n    catch (e) { node.warn(\"Parse error: \" + e.message); return null; }\n}\n\nif (!p || !p.deskId) return null;\n\nmsg.measurement = \"desk_environment\";\nmsg.tags = {\n    deskId: p.deskId,\n    userId: p.userId,\n    mode: p.mode\n};\n\n// Build environment message\nlet envMessages = [];\nif (p.alerts.dimLightWarning) envMessages.push(\"Lighting is low — turn on lamp or open blinds.\");\nif (p.alerts.highCo2Warning) envMessages.push(\"CO₂ is high — open a window or take a fresh air break.\");\nif (!envMessages.length && p.seating.present) {\n    envMessages.push(`All good — environment looks fine in ${p.mode} mode.`);\n}\n\nmsg.payload = {\n    // Existing fields - PRESERVED\n    temperatureC: p.environment.temperatureC,\n    humidityPct: p.environment.humidityPct,\n    co2ppm: p.environment.co2ppm,\n    noiseDb: p.environment.noiseDb,\n    lightLux: p.environment.lightLux,\n    highCo2Sec: p.environment.highCo2Sec,\n    lowLightSec: p.environment.lowLightSec,\n    dimLightWarning: p.alerts.dimLightWarning,\n    highCo2Warning: p.alerts.highCo2Warning,\n    environmentNotifyText: envMessages.join(\" | \")  // Compatibility field\n};\n\nmsg.timestamp = new Date(p.timestamp);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 420,
        "wires": [
            [
                "9b8a56e37aaff542"
            ]
        ]
    },
    {
        "id": "2298db7fbec8d873",
        "type": "function",
        "z": "00faea911c2e17d1",
        "name": "Build Desk Status Sensor",
        "func": "// Extract Status & Alerts Data from Unified Payload\nlet p = msg.payload;\nif (typeof p === \"string\") {\n    try { p = JSON.parse(p); }\n    catch (e) { node.warn(\"Parse error: \" + e.message); return null; }\n}\n\nif (!p || !p.deskId) return null;\n\nmsg.measurement = \"desk_status\";\nmsg.tags = {\n    deskId: p.deskId,\n    userId: p.userId,\n    mode: p.mode\n};\n\nmsg.payload = {\n    // Productivity metrics\n    present: p.seating.present,\n    focusScore: p.productivity.focusScore,\n    screenOn: p.productivity.screenOn,\n    keyRatePerMin: p.productivity.keyRatePerMin,\n    microbreakDue: p.productivity.microbreakDue,\n    focusTimerMin: p.productivity.focusTimerMin,\n    appFocus: p.productivity.appFocus,\n\n    // Derived timers\n    lowFocusSec: p.productivity.lowFocusSec,\n    highCo2Sec: p.environment.highCo2Sec,\n    lowLightSec: p.environment.lowLightSec,\n\n    // All warnings\n    longSitWarning: p.alerts.longSitWarning,\n    lowFocusWarning: p.alerts.lowFocusWarning,\n    dimLightWarning: p.alerts.dimLightWarning,\n    highCo2Warning: p.alerts.highCo2Warning,\n\n    // Desk intelligence\n    isSitting: p.seating.isSitting,\n    deskHeightCm: p.seating.deskHeightCm,\n    sitStreakMin: p.seating.sitStreakMin,\n    deskPositionStatus: p.seating.deskPositionStatus,\n    deskHeightRecommendation: p.seating.deskHeightRecommendation,\n\n    // Master narrative\n    smartDeskAssistant: p.alerts.smartDeskAssistant\n};\n\nmsg.timestamp = new Date(p.timestamp);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 560,
        "wires": [
            [
                "da46810f98515547"
            ]
        ]
    },
    {
        "id": "9b8a56e37aaff542",
        "type": "influxdb out",
        "z": "00faea911c2e17d1",
        "influxdb": "5ed1155aaed18428",
        "name": "Environment & Light Sensor Details",
        "measurement": "desk_environment",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "iot-org",
        "bucket": "smartDeskDatabase",
        "x": 1080,
        "y": 420,
        "wires": []
    },
    {
        "id": "da46810f98515547",
        "type": "influxdb out",
        "z": "00faea911c2e17d1",
        "influxdb": "5ed1155aaed18428",
        "name": "Desk Status Sensor Details",
        "measurement": "desk_status",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "iot-org",
        "bucket": "smartDeskDatabase",
        "x": 1020,
        "y": 560,
        "wires": []
    },
    {
        "id": "5f5dc9dd242b1b17",
        "type": "function",
        "z": "00faea911c2e17d1",
        "name": "Capture payload size",
        "func": "let payloadString = typeof msg.payload === 'string'\n    ? msg.payload\n    : JSON.stringify(msg.payload);\n\nlet p = msg.payload;\nif (typeof p === \"string\") {\n    p = JSON.parse(p);\n}\n\n// Calculate size in bytes\nlet sizeInBytes = Buffer.byteLength(payloadString, 'utf8');\nlet sizeInKB = (sizeInBytes / 1024).toFixed(2);\n\n// Log it\nnode.warn(`📦 Payload Size: ${sizeInBytes} bytes (${sizeInKB} KB) unified payload ${JSON.stringify(p, null, 2)}`);\n\n// Store in message for later use\nmsg.payloadSize = sizeInBytes;\nmsg.payloadSizeKB = sizeInKB;\n\n// Add to context for tracking\nlet totalSize = context.get('totalSize') || 0;\nlet messageCount = context.get('messageCount') || 0;\n\ntotalSize += sizeInBytes;\nmessageCount += 1;\n\ncontext.set('totalSize', totalSize);\ncontext.set('messageCount', messageCount);\n\nlet avgSize = (totalSize / messageCount).toFixed(2);\nnode.warn(`📊 Average: ${avgSize} bytes | Total: ${messageCount} messages`);\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 20,
        "wires": [
            [
                "34345f3168db1b64"
            ]
        ]
    },
    {
        "id": "3d1e7d7bc10a0588",
        "type": "debug",
        "z": "00faea911c2e17d1",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 140,
        "wires": []
    }
]